/* -------------------------------------------------------------------------- */


/*                                   General                                  */


/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

.fondo {
    background-color: #FF7F11;
    background-image: linear-gradient(132deg, #FF7F11 0%, #FF1B1C 100%);
}

.avatar {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.75);
}

h1 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

html {
    scroll-behavior: smooth;
}

@media all and (max-width: 767px) {
    .mt-sm-resp {
        margin-top: 28px;
    }
}

#btnArriba {
    position: fixed;
    bottom: 20px;
    right: -100px;
    transition: all 1s;
}


/* -------------------------- Efecto botones navbar ------------------------- */

.borderFade {
    padding-bottom: 1px;
    color: hsl(222, 25%, 14%);
    position: relative;
}

.borderFade::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: #d0d3d3;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.borderFade:hover::after {
    opacity: 1;
    transform: translateY(0);
}


/* ----------------------------- Efecto banderas ---------------------------- */

.swingHorizontal {
    color: hsl(222, 25%, 14%);
}

.swingHorizontal:hover {
    animation: swingHorizontal 1s ease;
    animation-iteration-count: 1;
}


/* -------------------------------------------------------------------------- */


/*                             ÍCONOS HABILIDADES                             */


/* -------------------------------------------------------------------------- */

.skill {
    margin: 10px 20px;
    max-width: 60px;
}

.iconosSkills {
    font-size: 50px;
}

#html {
    color: #E34F26;
}

#css3 {
    color: #1572B6;
}

#bootstrap {
    color: #7952B3;
}

#javascript {
    color: #F7DF1E;
}

#react {
    color: #61DAFB;
}

#git {
    color: #F05032;
}

#unity {
    color: #000;
}

#scrum {
    color: pink;
}

#trello {
    color: #0079BF;
}

#wordpress {
    color: #21759B;
}

#android {
    color: #3DDC84;
}

#slack {
    color: #4A154B;
}

#python {
    color: #3776AB;
}

#java {
    color: #007396;
}

#csharp {
    color: #239120;
}

@keyframes swingHorizontal {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}


/* -------------------------------------------------------------------------- */


/*                                 Backgrounds                                */


/* -------------------------------------------------------------------------- */

.bgCardsExpLab {
    background-color: #2e302e;
    background-image: linear-gradient(135deg, #484b48 25%, transparent 25%), linear-gradient(225deg, #484b48 25%, transparent 25%), linear-gradient(45deg, #484b48 25%, transparent 25%), linear-gradient(315deg, #484b48 25%, #2e302e 25%);
    background-position: 34px 0, 34px 0, 0 0, 0 0;
    background-size: 68px 68px;
    background-repeat: repeat;
}

.bgCardsExpLab p {
    text-shadow: 2px 2px 2px black;
}

.bgCardsEdu {
    background-color: #FF1B1C;
    background-image: linear-gradient(135deg, #8f1717 25%, transparent 25%), linear-gradient(225deg, #aa1919 25%, transparent 25%), linear-gradient(45deg, #ac1111 25%, transparent 25%), linear-gradient(315deg, #ac1414 25%, #FF1B1C 25%);
    background-position: 34px 0, 34px 0, 0 0, 0 0;
    background-size: 68px 68px;
    background-repeat: repeat;
}

.bgCardsEdu p {
    text-shadow: 2px 2px 2px black;
}


/* -------------------------------------------------------------------------- */


/*                                OWL Carousel                                */


/* -------------------------------------------------------------------------- */

.cardsCarousel {
    height: 100%!important;
    min-height: 500px!important;
}