.fondo {
    background-color: #3ff4f3;
    background-image: linear-gradient(132deg, #3ff4f3 0%, #1645a0 100%);
}

.avatar {
    width: 200px;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
}

@media all and (max-width: 767px) {
    .mt-sm-resp {
        margin-top: 28px;
    }
}

#btnArriba {
    position: fixed;
    bottom: 20px;
    right: -100px;
    transition: all 1s;
}

.fondoCuadrados {
    background-color: #E5E5F7;
    opacity: 0.3;
    background-image: linear-gradient(30deg, #a5a5a8 12%, transparent 12.5%, transparent 87%, #a5a5a8 87.5%, #a5a5a8), linear-gradient(150deg, #a5a5a8 12%, transparent 12.5%, transparent 87%, #a5a5a8 87.5%, #a5a5a8), linear-gradient(30deg, #a5a5a8 12%, transparent 12.5%, transparent 87%, #a5a5a8 87.5%, #a5a5a8), linear-gradient(150deg, #a5a5a8 12%, transparent 12.5%, transparent 87%, #a5a5a8 87.5%, #a5a5a8), linear-gradient(60deg, #a5a5a877 25%, transparent 25.5%, transparent 75%, #a5a5a877 75%, #a5a5a877), linear-gradient(60deg, #a5a5a877 25%, transparent 25.5%, transparent 75%, #a5a5a877 75%, #a5a5a877);
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

.fondoBlanco {
    background-color: whitesmoke;
}