@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

.fondo {
    background-color: #3ff4f3;
    background-image: linear-gradient(132deg, #3ff4f3 0%, #1645a0 100%);
}

.avatar {
    width: 200px;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
}

@media all and (max-width: 767px) {
    .mt-sm-resp {
        margin-top: 28px;
    }
}

#btnArriba {
    position: fixed;
    bottom: 20px;
    right: -100px;
    transition: all 1s;
}


/* Efecto botones navbar */

.borderFade {
    padding-bottom: 1px;
    color: hsl(222, 25%, 14%);
    position: relative;
}

.borderFade::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: #d0d3d3;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.borderFade:hover::after {
    opacity: 1;
    transform: translateY(0);
}


/* Efecto banderas */

.swingHorizontal {
    color: hsl(222, 25%, 14%);
}

.swingHorizontal:hover {
    animation: swingHorizontal 1s ease;
    animation-iteration-count: 1;
}

@keyframes swingHorizontal {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

.bgCardsExpLab {
    background-color: #2e302e;
    opacity: 0.7;
    background-image: linear-gradient(135deg, #484b48 25%, transparent 25%), linear-gradient(225deg, #484b48 25%, transparent 25%), linear-gradient(45deg, #484b48 25%, transparent 25%), linear-gradient(315deg, #484b48 25%, #2e302e 25%);
    background-position: 34px 0, 34px 0, 0 0, 0 0;
    background-size: 68px 68px;
    background-repeat: repeat;
}

.bgCardsExpLab p {
    text-shadow: 2px 2px 2px black;
}

.bgCardsEdu {
    background-color: #40c21f;
    opacity: 0.7;
    background-image: linear-gradient(135deg, #0c9108 25%, transparent 25%), linear-gradient(225deg, #0c9108 25%, transparent 25%), linear-gradient(45deg, #0c9108 25%, transparent 25%), linear-gradient(315deg, #0c9108 25%, #40c21f 25%);
    background-position: 34px 0, 34px 0, 0 0, 0 0;
    background-size: 68px 68px;
    background-repeat: repeat;
}

.bgCardsEdu p {
    text-shadow: 2px 2px 2px black;
}